DabloonsPP/DabloonsPP/Connected Services/DabloonsDB/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dabloons_Service" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dabloons_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Dabloons_Service/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Unlocked">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameCurrency" type="xs:int" />
      <xs:element minOccurs="0" name="HealthTiers" type="xs:int" />
      <xs:element minOccurs="0" name="MapsUnlocked" type="xs:int" />
      <xs:element minOccurs="0" name="MoneyTiers" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unlocked" nillable="true" type="tns:Unlocked" />
  <xs:complexType name="Matches">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="MoneyAccumulated" type="xs:int" />
      <xs:element minOccurs="0" name="Result" type="ser:char" />
      <xs:element minOccurs="0" name="TimeTaken" type="ser:duration" />
      <xs:element minOccurs="0" name="TowersBuilt" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matches" nillable="true" type="tns:Matches" />
</xs:schema>